<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LabProg.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <LabProg.Properties.Settings>
            <setting name="ConfocalLevel" serializeAs="String">
                <value />
            </setting>
            <setting name="PumpReverse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PumpActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PumpManaging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PumpSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MirrorSetup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MirrorManaging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MirrorLeftPoint" serializeAs="String">
                <value>301,844</value>
            </setting>
            <setting name="MirrorRightPoint" serializeAs="String">
                <value>304,578</value>
            </setting>
            <setting name="MirrorJogStep" serializeAs="String">
                <value>0,02</value>
            </setting>
            <setting name="PwrModeCh1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExChannel1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CbChannel1On" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PwrPortIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PowerManaging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CbChannel2On" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PwrCh0MaxVolts" serializeAs="String">
                <value />
            </setting>
            <setting name="CbChannel3On" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CbChannel4On" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CbChannel5On" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PwrCh0Bias" serializeAs="String">
                <value />
            </setting>
            <setting name="PwrCh1Bias" serializeAs="String">
                <value />
            </setting>
            <setting name="PwrCh2Bias" serializeAs="String">
                <value />
            </setting>
            <setting name="PwrCh3Bias" serializeAs="String">
                <value />
            </setting>
            <setting name="PwrCh4Bias" serializeAs="String">
                <value />
            </setting>
            <setting name="PwrCh5Bias" serializeAs="String">
                <value />
            </setting>
            <setting name="PwrModeCh2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PwrModeCh3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PwrModeCh4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PwrModeCh5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PwrModeCh0" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PwrCh1MaxVolts" serializeAs="String">
                <value />
            </setting>
            <setting name="PwrCh2MaxVolts" serializeAs="String">
                <value />
            </setting>
            <setting name="PwrCh3MaxVolts" serializeAs="String">
                <value />
            </setting>
            <setting name="PwrCh4MaxVolts" serializeAs="String">
                <value />
            </setting>
            <setting name="PwrCh5MaxVolts" serializeAs="String">
                <value />
            </setting>
            <setting name="CbChannel0On" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LvlPortIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExLaserManage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LaserPower" serializeAs="String">
                <value />
            </setting>
            <setting name="ExLaserSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LaserPortIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PyroTemp" serializeAs="String">
                <value />
            </setting>
            <setting name="PyroPortIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PowMax" serializeAs="String">
                <value />
            </setting>
            <setting name="TempMax" serializeAs="String">
                <value />
            </setting>
            <setting name="PowMid" serializeAs="String">
                <value />
            </setting>
            <setting name="TempMid" serializeAs="String">
                <value />
            </setting>
            <setting name="PowMin" serializeAs="String">
                <value />
            </setting>
            <setting name="TempMin" serializeAs="String">
                <value />
            </setting>
            <setting name="FreqCam" serializeAs="String">
                <value />
            </setting>
            <setting name="CameraSavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="CameraSavePrefix" serializeAs="String">
                <value />
            </setting>
            <setting name="CameraFrameMaxCount" serializeAs="String">
                <value />
            </setting>
            <setting name="CameraMaxFrameOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ArduinoPortIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PwrCh0Amplitude" serializeAs="String">
                <value />
            </setting>
            <setting name="PwrCh0Frequency" serializeAs="String">
                <value />
            </setting>
            <setting name="PwrCh0Duty" serializeAs="String">
                <value />
            </setting>
            <setting name="PwrCh0Phase" serializeAs="String">
                <value />
            </setting>
            <setting name="PwrCh0MaxAmps" serializeAs="String">
                <value />
            </setting>
            <setting name="PwrCh1Amplitude" serializeAs="String">
                <value />
            </setting>
            <setting name="PwrCh1Frequency" serializeAs="String">
                <value />
            </setting>
            <setting name="PwrCh1Duty" serializeAs="String">
                <value />
            </setting>
            <setting name="PwrCh1Phase" serializeAs="String">
                <value />
            </setting>
            <setting name="PwrCh1MaxAmps" serializeAs="String">
                <value />
            </setting>
            <setting name="PwrCh2Amplitude" serializeAs="String">
                <value />
            </setting>
            <setting name="PwrCh2Frequency" serializeAs="String">
                <value />
            </setting>
            <setting name="PwrCh2Duty" serializeAs="String">
                <value />
            </setting>
            <setting name="PwrCh2Phase" serializeAs="String">
                <value />
            </setting>
            <setting name="PwrCh2MaxAmps" serializeAs="String">
                <value />
            </setting>
            <setting name="PwrCh3Amplitude" serializeAs="String">
                <value />
            </setting>
            <setting name="PwrCh3Frequency" serializeAs="String">
                <value />
            </setting>
            <setting name="PwrCh3Duty" serializeAs="String">
                <value />
            </setting>
            <setting name="PwrCh3Phase" serializeAs="String">
                <value />
            </setting>
            <setting name="PwrCh3MaxAmps" serializeAs="String">
                <value />
            </setting>
            <setting name="PwrCh4Amplitude" serializeAs="String">
                <value />
            </setting>
            <setting name="PwrCh4Frequency" serializeAs="String">
                <value />
            </setting>
            <setting name="PwrCh4Duty" serializeAs="String">
                <value />
            </setting>
            <setting name="PwrCh4Phase" serializeAs="String">
                <value />
            </setting>
            <setting name="PwrCh4MaxAmps" serializeAs="String">
                <value />
            </setting>
            <setting name="PwrCh5Amplitude" serializeAs="String">
                <value />
            </setting>
            <setting name="PwrCh5Frequency" serializeAs="String">
                <value />
            </setting>
            <setting name="PwrCh5Duty" serializeAs="String">
                <value />
            </setting>
            <setting name="PwrCh5Phase" serializeAs="String">
                <value />
            </setting>
            <setting name="PwrCh5MaxAmps" serializeAs="String">
                <value />
            </setting>
            <setting name="LaserType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CameraType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AndorMode" serializeAs="String">
                <value>0</value>
            </setting>
        </LabProg.Properties.Settings>
    </userSettings>
</configuration>