<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LabProg.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <LabProg.Properties.Settings>
            <setting name="ConfocalLevel" serializeAs="String">
                <value />
            </setting>
            <setting name="PumpReverse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PumpActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PumpManaging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PumpSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MirrorSetup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MirrorManaging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MirrorLeftPoint" serializeAs="String">
                <value>301,844</value>
            </setting>
            <setting name="MirrorRightPoint" serializeAs="String">
                <value>304,578</value>
            </setting>
            <setting name="MirrorJogStep" serializeAs="String">
                <value>0,02</value>
            </setting>
            <setting name="PwrModeCh1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExChannel1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CbChannel1On" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PwrPortIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PowerManaging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CbChannel2On" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PwrCh0MaxVolts" serializeAs="String">
                <value />
            </setting>
            <setting name="CbChannel3On" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CbChannel4On" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CbChannel5On" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PwrCh0Bias" serializeAs="String">
                <value />
            </setting>
            <setting name="PwrCh1Bias" serializeAs="String">
                <value />
            </setting>
            <setting name="PwrCh2Bias" serializeAs="String">
                <value />
            </setting>
            <setting name="PwrCh3Bias" serializeAs="String">
                <value />
            </setting>
            <setting name="PwrCh4Bias" serializeAs="String">
                <value />
            </setting>
            <setting name="PwrCh5Bias" serializeAs="String">
                <value />
            </setting>
            <setting name="PwrModeCh2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PwrModeCh3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PwrModeCh4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PwrModeCh5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PwrModeCh0" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PwrCh1MaxVolts" serializeAs="String">
                <value />
            </setting>
            <setting name="PwrCh2MaxVolts" serializeAs="String">
                <value />
            </setting>
            <setting name="PwrCh3MaxVolts" serializeAs="String">
                <value />
            </setting>
            <setting name="PwrCh4MaxVolts" serializeAs="String">
                <value />
            </setting>
            <setting name="PwrCh5MaxVolts" serializeAs="String">
                <value />
            </setting>
            <setting name="CbChannel0On" serializeAs="String">
                <value>False</value>
            </setting>
        </LabProg.Properties.Settings>
    </userSettings>
</configuration>