<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LabControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <LabControl.Properties.Settings>
      <setting name="WindowHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WindowWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IsTwoPump" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ConfocalLevelSetter" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IncomingPumpPortSelected" serializeAs="String">
        <value />
      </setting>
      <setting name="OutgoingPumpPortSelected" serializeAs="String">
        <value />
      </setting>
      <setting name="LaserPowerSetter" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LaserPortSelected" serializeAs="String">
        <value />
      </setting>
      <setting name="PyroPortSelected" serializeAs="String">
        <value />
      </setting>
      <setting name="LaserTypeSelectedIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrCh0Mode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrCh0Bias" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrCh0Amplitude" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrCh0Freq" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrCh0Duty" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrCh0Phase" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrCh0MaxVoltage" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrCh0MaxAmps" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrCh1Mode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrCh1Bias" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrCh1Amplitude" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrCh1Freq" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrCh1Duty" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrCh1Phase" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrCh1MaxVoltage" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrCh1MaxAmps" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrCh2Mode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrCh2Bias" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrCh2Amplitude" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrCh2Freq" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrCh2Duty" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrCh2Phase" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrCh2MaxVoltage" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrCh2MaxAmps" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrSwitchCh3" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PwrCh3Bias" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrCh3Amplitude" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrCh3Freq" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrCh3Duty" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrCh3Phase" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrCh3MaxVoltage" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrCh3MaxAmps" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrSwitchCh4" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PwrCh3Mode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrCh4Mode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrCh4Bias" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrCh4Amplitude" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrCh4Freq" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrCh4Duty" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrCh4Phase" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrCh4MaxVoltage" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrCh4MaxAmps" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrSwitchCh5" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrCh5Mode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrCh5Bias" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrCh5Amplitude" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrCh5Freq" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrCh5Duty" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrCh5Phase" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrCh5MaxVoltage" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrCh5MaxAmps" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PwrPortSelected" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IsRevereFirstPump" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsRevereSecondPump" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsLaserEmit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsPyroPortConnected" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsPyroActive" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DispenserPortSelected" serializeAs="String">
        <value />
      </setting>
      <setting name="DispenserSignalType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DispenserChannel" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DispenserFrequency" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DispenserRiseTime" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DispenserKeepTime" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DispenserFallTime" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DispenserLowTime" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DispenserRiseTime2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DispenserV0" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DispenserV1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DispenserV2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DispenserHV0" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DispenserHVpeak" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DispenserHToverall" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AirSupportPressure" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PressureSensorPortSelected" serializeAs="String">
        <value />
      </setting>
    </LabControl.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.\MyDatabase.sqlite" providerName="System.Data.SQLite" />
    <add name="DefaultConnection2" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=labdb;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <provider invariantName="System.Data.SQLite"  type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>

    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
</configuration>