<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LabControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <LabControl.Properties.Settings>
            <setting name="WindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsTwoPump" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConfocalLevelSetter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IncomingPumpPortSelected" serializeAs="String">
                <value />
            </setting>
            <setting name="OutloginPumpPortSelected" serializeAs="String">
                <value />
            </setting>
            <setting name="LaserPowerSetter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LaserPortSelected" serializeAs="String">
                <value />
            </setting>
            <setting name="PiroPortSelected" serializeAs="String">
                <value />
            </setting>
            <setting name="LaserTypeSelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PwrCh0Mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PwrCh0Bias" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PwrCh0Amplitude" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PwrCh0Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PwrCh0Duty" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PwrCh0Phase" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PwrCh0MaxVoltage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PwrCh0MaxAmps" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PwrCh1Mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PwrCh1Bias" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PwrCh1Amplitude" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PwrCh1Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PwrCh1Duty" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PwrCh1Phase" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PwrCh1MaxVoltage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PwrCh1MaxAmps" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PwrCh2Mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PwrCh2Bias" serializeAs="String">
                <value>0</value>
            </setting>
        </LabControl.Properties.Settings>
    </userSettings>
</configuration>